<html>
  <head>
    <link type="text/javascript" src="public/{{bundle['main.scss']}}" ></script>
  </head>
  <body>
    <h1>Hello World</h1>
    <p id='content'></p>
    <pre>
    page
      contents
        item
          type: layout
          columns 4
          contents: 
            [text, form, text, img]
        item 
          type: text
          data: 
            text
          type: form 
            data 
              object
              fields
          type: list
            object
            headings
          type: link
            data
              text
              page
          type: image
          type: video
        item
          
    { contents: 
      [ 
    </pre>
    <script type="text/javascript" src="public/{{bundle['main.js']}}" ></script>
  </body>
</html>
